* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --primary-color: #fff;
  --secondary-color: #212121;
  --tertiary-color: #f1f6f8;
  --quarternary-color: #bdbdbd;
  --quinary-color: #face30;
  --senary-color: #ff7300;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
  --tertiary-color: #000;
  --quarternary-color: #fff;
  --quinary-color: rgb(0, 255, 251);
  --senary-color: rgb(13, 0, 255);
}

body {
  width: 100%;
  min-height: 200px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

main {
  min-height: 100vh;
  margin: 0 10%;
  padding: 2em 0;
}

.dark-mode {
  text-align: end;
  padding-right: 86px;
}

#icon {
  width: 30px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.container {
  background-color: var(--tertiary-color);
  margin: 0 20%;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 64px;
  padding: 24px 5%;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.265); */
  position: relative;
  transition: 1s box-shadow;
}

.container:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}
.container:hover:before,
.container:hover:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--quinary-color);
  border-radius: 64px;
  z-index: -1;
  animation: 1s clockwise infinite;
}
.container:hover:after {
  background: var(--senary-color);
  animation: 2s counterclockwise infinite;
}
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0px;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0px;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0px;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0px;
  }
}
@keyframes counterclockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0px;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0px;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0px;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0px;
  }
}

header {
  text-align: center;
  padding-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#therm {
  width: 32px;
  transition: 1s ease-in-out;
}

header .author {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-style: italic;
}

header p .name-author {
  padding: 0 4px 0 4px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

header p .github-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  color: var(--secondary-color);
  border: 1.7px solid var(--secondary-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

header p .github-icon:hover {
  border: 1.5px solid slateblue;
  background-color: slateblue;
  color: white;
}

header p a svg {
  width: 16px;
  fill: currentColor;
}

.section-title {
  padding: 16px 0;
}

.section-input,
.section-output,
.section-conversion {
  text-align: center;
  padding-bottom: 16px;
}

.section-input label,
.section-output label,
.section-conversion label {
  padding: 0% 10%;
  max-width: fit-content;
  padding-bottom: 8px;
  display: block;
  cursor: pointer;
}

.input-celcius,
.input-fahrenheit,
.output-celcius,
.output-fahrenheit,
.input-conversion {
  width: 75%;
  height: 54px;
  margin: auto 16px;
  padding: 0 8px;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 4px;
  font-weight: bold;
}

.alert {
  margin: 0px 0px 8px 10%;
  display: flex;
  align-items: center;
}

.alert p {
  color: red;
}

.alert p sub {
  font-family: serif;
}

.output-celcius,
.output-fahrenheit {
  background-color: #fff;
}

.input-conversion {
  background-color: #fff;
  font-style: italic;
}

.input-celcius:hover,
.input-fahrenheit:hover {
  border: 2px solid rgba(0, 0, 255, 0.7);
}

.section-button {
  padding: 0% 7%;
  margin-left: 16px;
  padding-bottom: 8px;
}

.section-button button {
  margin-right: 16px;
  padding: 4px 8px;
  border: 2px solid rgb(205, 205, 205);
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section-button button:active {
  transform: scale(0.96);
}

.button-konversi {
  background-color: #28a36a;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.button-konversi:hover {
  background-color: #1f8656;
  transition: 0.2s ease-in;
}

.button-reset {
  background-color: #ffc802;
  color: black;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.button-reset:hover {
  background-color: #f2b119;
  transition: 0.2s ease-in;
}

.button-reverse {
  background-color: #01a6e8;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-out;
}

.button-reverse:hover {
  background-color: #098dc1;
  transition: 0.2s ease-in;
}

#view-function-celcius,
#view-function-fahrenheit {
  padding: 8px 16px 8px 0;
  border: 2px solid var(--quarternary-color);
  border-style: dashed;
}

.switch-funtion {
  margin-left: 16px;
  padding-bottom: 16px;
}

#view-function article h3 {
  color: #704cff;
  margin-bottom: 4px;
}

.function-view {
  font-weight: bold;
  padding-bottom: 16px;
}

.function-description {
  padding-top: 16px;
}

.function-view1,
.function-view2 {
  padding: 16px 0;
}

span {
  font-family: serif;
  font-size: 19px;
}

.char-italic {
  font-style: italic;
}

footer .footer {
  margin-top: 32px;
  border-top: 2px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div .github-icon,
.instagram-icon,
.facebook-icon,
.twitter-icon,
.linkedin-icon,
.youtube-icon {
  margin-top: 32px;
  width: 36px;
  height: 36px;
  margin-right: 4px;
  color: var(--secondary-color);
  border: 1.7px solid var(--secondary-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

footer div .github-icon:hover {
  border: 1.5px solid slateblue;
  background-color: slateblue;
  color: white;
}

footer div .instagram-icon:hover {
  border: 1.5px solid #fee140;
  background-image: linear-gradient(to right, #84036f 0%, #fee140 100%);
  color: white;
}

footer div .facebook-icon:hover {
  border: 1.5px solid rgb(0, 76, 255);
  background-color: rgb(0, 76, 255);
  color: white;
}

footer div .twitter-icon:hover {
  border: 1.5px solid rgb(0, 170, 255);
  background-color: rgb(0, 170, 255);
  color: white;
}

footer div .linkedin-icon:hover {
  border: 1.5px solid blue;
  background-color: blue;
  color: white;
}

footer div .youtube-icon:hover {
  border: 1.5px solid red;
  background-color: red;
  color: white;
}

footer div a svg {
  width: 24px;
  fill: currentColor;
}

footer .copyright {
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  main {
    background-color: var(--primary-color);
    margin: 0 5%;
  }

  .container {
    margin: 0 10%;
  }

  .dark-mode {
    text-align: end;
    padding-right: 32px;
  }
}

.display-off {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    background-color: var(--primary-color);
    margin: 0 5%;
  }

  .container {
    margin: 0 10%;
  }

  header .title h1 {
    font-size: 28px;
  }

  .dark-mode {
    text-align: end;
    padding-right: 26px;
  }
}

@media screen and (max-width: 425px) {
  main {
    background-color: var(--primary-color);
    margin: auto;
  }

  .container {
    margin: 0 10%;
  }

  .section-button button {
    display: block;
    margin: 8px 8px auto;
  }

  .dark-mode {
    text-align: end;
    padding-right: 18px;
  }
}

@media screen and (max-width: 320px) {
  .input-conversion {
    font-size: 12px;
  }

  .dark-mode {
    text-align: end;
    padding-right: 32px;
  }
}
